#photo img{
	height: 250px;
    border-radius: 50%;
    margin-bottom:30px;
	
}
#photo {
	padding-top: 30px;
}

#uni7 h3{
	font-family:comic;
	color:#00FFFF;
	text-align:center;
	position:relative;
	top:350px;
	font-size:45px;

}

body{

	margin: 0;

}

p{
	font-family: Arial;
	font-size:25px;
	color:#D3D3D3;
	padding-left: 30px;
	padding-right: 30px;
}
.corpo{
	border:1px solid #008B8B;
	background-color: #008B8B;


}
body h1{
	font-family:Arial;
	padding: 30px;
	color:#D3D3D3;
}

h1{
	font-family: Arial;
	color:#D3D3D3;
}
#redes img, a{
	width:50px;
	height: 50px;
}

#uni7{
	text-align: center;
	background-color:#87CEFA;
	background-size: cover;
	background-position: center;
	height: 400px;
	width: 100%;
	position: relative;
	padding: 3px;
}

.conhecimentos{
	text-align: center;
	padding: 0px 30px 30px 30px;
    


}
#conhecimentos{
    display: table;
    background-color: aqua;
    width:100%;
}


#conhecimentos h1{
    color:black; 
}


.grow{
	height: 150px;
    width: 150px;
    float:left;
    margin-bottom: 10px;
    margin-left: 30px;
    transition:all 0.3s ease;
}
#linux{
    margin-bottom: 0;
}
.grow img {
    height: 60px;
    width: 60px;
    padding-left:47px;
    padding-top:40px;
}


.grow:hover {
  -webkit-transform: scale(1.0);
    -ms-transform: scale(1.1);
    transform: scale(1.4);
}

@media (max-width: 600px){
	#photo img{
		width:150px;
		height: 150px;

	}
	#redes img{
		width:50px;	
		height: 50px;

	}

}